<div
  class="
    tw:position-fixed 
    tw:h-[100vh] 
    tw:w-[100vw] 
    tw:overflow-auto 
    tw:m-0 
    tw:py-[5vh] 
    tw:bg-[url('./assets/fondo_botones.JPG')] 
    tw:bg-cover bg-no-repeat bg-center"
>
  <div
    class="
      tw:bottom-[-10] 
      tw:h-[90vh] 
      tw:overflow-auto 
      tw:rounded-xl 
      tw:w-[90vw] 
      tw:top-[50%] 
      tw:left-[50%] 
      tw:transform-[translate(-50%,-50%)] 
      tw:absolute right-[calc((90vw-90%)/2)]
    "
  >
    <div
      class="
        tw:backdrop-blur-[20px] 
        tw:bg-black/50 
        tw:rounded-xl 
        tw:p-2 
        tw:mb-5 
        tw:sticky 
        tw:top-0 
        tw:z-2 
        tw:border-b-2
      "
    >
      @if (titulo_componente) { @if (titulo_componente()) {
      <ng-container [ngTemplateOutlet]="titulo_componente()"></ng-container>
      } @else {
      <h1>
        {{ titulo_string() }}
      </h1>
      } }
    </div>
    <div class="
      tw:backdrop-blur-[20px] 
      tw:bg-black/50 
      tw:rounded-xl 
      tw:p-2
    ">
      <router-outlet />
    </div>
  </div>
</div>
